<?XML version="1.0"?>
<scriptlet>
<registration 
    progid="PoC"
    classid="{F0001111-0000-0000-0000-0000FEEDACDC}" >
	<script language="VBScript">
	<![CDATA[
		msgbox “hi”		
	]]>
</script>
</registration>
</scriptlet>

<?XML version="1.0"?>
<scriptlet>
<registration
	description="DebugShell"
	progid="DebugShell"
	version="1.00"
	classid="{90001111-0000-0000-0000-0000FEEDACDC}">
		<script language="VBScript">
		<![CDATA[
			msgbox "data"			
		]]>
</script>
</registration>
</scriptlet>




