<?xml version="1.0"?>
<scriptlet>
<registration
	description="EventLogger"
	progid="bob.sct"
	version="1.00"
	classid="{285910f7-aafc-4280-9295-78ec03eaa714}"
>
</registration>

<script language="VBScript">
<![CDATA[


]]>
</script>

</scriptlet>
