<?XML version="1.0"?>
<scriptlet>
	<registration progid="8ed148" classid="{5cc0f6a7-ed3e-4a65-93cc-a259bd387d2b}" >
		<script language="vbscript">
		<![CDATA[
			msgbox "data"
		]]>
		</script>
	</registration>
</scriptlet>
